<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Student/StudentLayout">

<div layout:fragment="Zawartosc">
	<p>Imie : <span th:text="${student.getImie()}"></span></p>
	<p>Nazwisko : <span th:text="${student.getNazwisko()}"></span></p>
	<p>Login : <span th:text="${student.getLogin()}"></span></p>
	<p> Album : <span th:text="${student.getAlbum()}"></span></p>
	<p> Grupa Laboratoryjna : <span th:text="${student.getGrupaLab()}"></span></p>
</div>

</html>