<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Student/StudentLayout">

<meta charset="UTF-8"/>
<div layout:fragment="Zawartosc">
	<script>
		
	    	(function($)
   			{
	    		$form.on('submit',function(e){
	    			e.preventDefault();
	    			$.ajax(
   		   			{
   		   				url: $form.attr('action'),
   		   				type: 'post',
   		   				data: $form.serialize(),
   		   				success : function(response)
   		   				{
   		   					response.preventDefault();
   		   					alert("250 OK");
   		   				}
   		   			}
   		   			);
	    		});
		    	
   			}(jQuery)
	    	);
	    	          
	    
	</script>
	<!-- <script type="text/javascript">
	jQuery(document).ready(function($)
			{
		$("#emailForm").submit(function(event)
		{
			event.preventDefault();
			AjaxSendEmail("bla","bla2","bla3");
		});
			});
	</script> -->
	<form id="emailForm" th:action="@{/Student/KontaktzDziekanatem/SendEmail}" method="POST" th:object="${email}" >
	Adres docelowy:<br/>
	<select th:field="*{destanation}" name="emailDestanation">
		<option value="wpardel@gmail.com">Dziekan WI Wojciech Pardel</option>
	</select><br/>
	
    Tytuł wiadomości:<br/>
    <input type="text" id="topic"  name="MsgTopic" th:field="*{topic}"/><br/>
    Treść wiadomości:<br/>
    <textarea rows="25" cols="50" id="msg" name="MsgText" th:field="*{msgText}"></textarea><br/>
    <input type="submit" name="emailSend" value="Wyślij"/>
    </form>
</div>



</html>