<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Student/StudentLayout">
<meta charset="UTF-8"/>
<div layout:fragment="Zawartosc">	
    <table border="1" cellpadding="5" width="100%">
        <tr>
            <th>Tytuł Opłaty</th>
            <th>Konto</th>            
            <th>Kwota</th>
                   
        </tr>
        <tr th:each="oplata : ${ListaOplat}">
        	<td th:text="${oplata.getTytul()}"></td>
        	<td th:text="${oplata.getKonto()}"></td>
        	<td th:text="${oplata.getKwota()}"></td>        
        </tr>
        

    </table>
</div>

</html>