<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Student/StudentLayout">
<meta charset="UTF-8"/>
<div layout:fragment="Zawartosc">	
    <table border="1" cellpadding="5" width="100%">
        <tr>
            <th>Przedmiot</th>
            <th>Forma Zajęć</th>            
            <th>Prowadzący</th>
            <th>Forma Zaliczenia</th>
            <th>Liczba Godzin</th> 
            <th>ECTS</th>          
        </tr>
        <tr th:each="kurs : ${ListaKursow}">
        	<td th:text="${kurs.nazwa}"></td>
        	<td th:text="${kurs.formaZajec}"></td>
        	<td th:text="${kurs.prowadzacy}"></td>
        	<td th:text="${kurs.formaZaliczenia}"></td>
        	<td th:text="${kurs.liczbaGodzin}"></td>
        	<td th:text="${kurs.eCTS}"></td>
        </tr>
        

    </table>
    
    <button id="prevSemestr">Poprzedni Semestr</button> <button id="nextSemestr">Następny Semestr</button>
</div>

</html>