<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="Dydaktyk/DydaktykLayout">
<meta charset="UTF-8"/>
<div layout:fragment="Zawartosc">	
    <table border="1" cellpadding="5" width="100%">
        <tr>
            <th>Przedmiot</th>
            <th>Forma Zajęć</th>            
            <th>Forma Zaliczenia</th>
            <th>Liczba Godzin</th>
            <th>Grupa</th> 
                
        </tr> 
        <tr th:each="kurs : ${ListaKursow}">
        	<td th:text="${kurs.getNazwa()}"></td>
        	<td th:text="${kurs.getFormaZajec()}"></td>
        	<td th:text="${kurs.getFormaZaliczenia()}"></td>
        	<td th:text="${kurs.getLiczbaGodzin()}"></td>
        	<td th:text="${kurs.getGrupa()}"></td>
        	
        </tr>
        

    </table>
    

</div>

</html>